<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 5 Draft -->
<!-- Date: May 25, 2020 -->
<!-- Course: CS 340 -->

<!-- Title -->
<title>Ye Olde Robot Shoppe Customers</title>

<!-- Mock SQL query and CRUD functions for the orders Entity-->
<h1>Current Customers:</h1>


<form>
    <div class="form-group row">
        <div class="col">
            <label>View Selected Customers
                <input type="text" class="form-control" placeholder="Search for names..">
            </label>
            <label>Or Filter By Planet
                <select class="custom-select">
                    <option>Earth</option>
                    <option>Jupiter</option>
                    <option>Ergotron V</option>
                    <option>Machina</option>
                </select>
            </label>
        </div>
    </div>
</form>
<section>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>customerID</th>
                <th>customerFirstName</th>
                <th>customerLastName</th>
                <th>customerPlanet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Bob</td>
                <td>Saget</td>
                <td>Earth</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Kanye</td>
                <td>West</td>
                <td>Jupiter</td>
            </tr>
            <tr>
                <td>3</td>
                <td>VR</td>
                <td>2103</td>
                <td>Ergotron V</td>
            </tr>
            <tr>
                <td>4</td>
                <td>CRK</td>
                <td>42</td>
                <td>Machina</td>
            </tr>
            <tr>
                <td>5</td>
                <td>PR</td>
                <td>007</td>
                <td>Chin Thum</td>
            </tr>
        </tbody>
    </table>
</section>

<br />
<h1>Add a new customer:</h1>
<section>
    <form>
        <div class="form-group">
            <label>Enter First Name:
                <input type="text" class="form-control" name="customerFirstName" size="40" maxlength="255" />
            </label>
            <label>Enter Last Name:
                <input type="text" class="form-control" name="customerLastName" size="40" maxlength="255" />
            </label>
            <label>Enter Planet:
                <input type="text" class="form-control" name="customerPlanet" size="40" maxlength="255" />
            </label>
            <input type="submit" class="btn btn-primary" value="Add Customer" />
    </form>
</section>