<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 7 (Final Portfolio)  -->
<!-- Date: June 5, 2020 -->
<!-- Course: CS 340 -->


<!-- Title -->
<title>Ye Olde Robot Shoppe</title>

<div class="container-sm">
    <div class="col"></div>
    <h1 class="text-center">Welcome to Ye Olde Robot Shoppe's!</h1>

    <div class="col-7 mx-auto">
        <div>
            <img src="./images/Robot.png" style="width: 50%; display:block" class="mx-auto">
        </div>
        <p>
            Ye Olde Robot Shoppe is a store that sells robot parts for robot maintenance, repair, and upgrades.
            Originally we started as a small intraplanetary shoppe. With intragalactic travel becoming more
            afforadable, and many of our customers moving to other planets, there was customer demand to grow
            our business to include many other planets in our galaxy.
        </p>
        <p>
            Currently, this is a look at what our employees are using to manage our business while we continue
            to develop an online ordering system for our customers to make purchases on their own. We are able
            to take orders at our store or customers can also call the store to make purchases.
        </p>
    </div>
    <div class="col"></div>
</div>