<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 5 Draft -->
<!-- Date: May 25, 2020 -->
<!-- Course: CS 340 -->

<!-- Title -->
<title>Ye Olde Robot Shoppe</title>

<h1 style="text-align: center;">Welcome to Ye Olde Robot Shoppe's Online Experience!</h1>


<div>
    <img src="./images/Robot.png" style="width: 25%;" class="center">
</div>

</br>
<div>
    <p class="center">
        Ye Olde Robot Shoppe is a store that sells robot parts for robot maintenance, repair, and upgrades.
        Originally we started as a small intraplanetary shoppe. With intragalactic becoming more afforadable,
        and many of our customers moving to other planets, there was customer demand to grow our business to
        include many other planets in our galaxy.

        </br>
        </br>

        We are pleased to announce that our shop is now open online. Currently, we are able to sell items, while
        in the future we will be implementing the option to be able to sell your spare parts back to us. Thank you
        for your continued support, and we can't wait to see the robots you create with our parts!
    </p>
</div>