<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 6 Draft -->
<!-- Date: May 31, 2020 -->
<!-- Course: CS 340 -->

<!-- Title -->
<title>Ye Olde Robot Shoppe</title>

<h1 style="text-align: center;">Welcome to Ye Olde Robot Shoppe's!</h1>


<div>
    <img src="./images/Robot.png" style="width: 25%;" class="center">
</div>

</br>
<div>
    <p class="center">
        Ye Olde Robot Shoppe is a store that sells robot parts for robot maintenance, repair, and upgrades.
        Originally we started as a small intraplanetary shoppe. With intragalactic travel becoming more 
        afforadable, and many of our customers moving to other planets, there was customer demand to grow 
        our business to include many other planets in our galaxy.

        </br>
        </br>

        Currently, this is a look at what our employees are using to manage our business while we continue
        to develop an online ordering system for our customers to make purchases on their own.  We are able 
        to take orders at our store or customers can also call the store to make purchases.
    </p>
</div>