<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 5 Draft -->
<!-- Date: May 25, 2020 -->
<!-- Course: CS 340 -->

<title>Ye Olde Robot Shoppe Items</title>

<!-- Mock SQL query and CRUD functions for the orders Entity-->
<h1>Current Items:</h1>
<section>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>itemID</th>
                <th>itemType</th>
                <th>supplierID</th>
                <th>YeOldePrice</th>
                <th>currentQuantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Processor</td>
                <td>002</td>
                <td>750.99</td>
                <td>3</td>
            </tr>
            <tr>
                <td>002</td>
                <td>RAM</td>
                <td>005</td>
                <td>250.99</td>
                <td>10</td>
            </tr>
            <tr>
                <td>003</td>
                <td>SSD</td>
                <td>002</td>
                <td>169.99</td>
                <td>4</td>
            </tr>
            <tr>
                <td>004</td>
                <td>External Hard Drive</td>
                <td>003</td>
                <td>59.99</td>
                <td>7</td>
            </tr>
            <tr>
                <td>005</td>
                <td>Motherboard</td>
                <td>001</td>
                <td>119.99</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</section>

<h1>Add an item:</h1>
<section>
    <form>
        <div class="form-group">
            <label>Enter itemType:
                <input class="form-control" type="text" name="itemType">
            </label>
            <label>Enter supplierID: (optional)
                <input class="form-control" type="number" name="supplierName" size="40" min="1">
            </label>
            <label>Enter YeOldePrice:
                <input class="form-control" type="number" step="0.01" min=0 size="40">
            </label>
            <label>Enter currentQuantity:
                <input class="form-control" type="number" name="currentQuantity" size="40" min="0">
            </label>
            <input type="submit" class="btn btn-primary" value="Add Item">
        </div>
    </form>
</section>