<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 5 Draft -->
<!-- Date: May 25, 2020 -->
<!-- Course: CS 340 -->

<title>Ye Olde Robot Shoppe Orders</title>

<!-- Mock SQL query and CRUD functions for the orders Entity-->
<h1>Current Orders:</h1>
<section>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>orderID</th>
                <th>customerID</th>
                <th>orderDate</th>
                <th>galacticPay</th>
                <th>orderBeamed</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>001</td>
                <td>2020-01-01</td>
                <td>01234567890123456789</td>
                <td>Yes</td>
                <td><input type="button" class="btn btn-info" value="Edit" onClick="location.href='editOrder'"></td>
                <td> <button class="btn btn-info">Delete</button></td>
            </tr>
            <tr>
                <td>1002</td>
                <td>002</td>
                <td>2020-01-01</td>
                <td>98765432109876543210</td>
                <td>Yes</td>
                <td><input type="button" class="btn btn-info" value="Edit" onClick="location.href='editOrder'"></td>
                <td> <button class="btn btn-info">Delete</button></td>
            </tr>
            <tr>
                <td>1003</td>
                <td>003</td>
                <td>2020-01-02</td>
                <td>12345678901234567890</td>
                <td>Yes</td>
                <td><input type="button" class="btn btn-info" value="Edit" onClick="location.href='editOrder'"></td>
                <td> <button class="btn btn-info">Delete</button></td>
            </tr>
            <tr>
                <td>1004</td>
                <td>001</td>
                <td>2020-01-03</td>
                <td>01234567890123456789</td>
                <td>No</td>
                <td><input type="button" class="btn btn-info" value="Edit" onClick="location.href='editOrder'"></td>
                <td> <button class="btn btn-info">Delete</button></td>
            </tr>
            <tr>
                <td>1005</td>
                <td>004</td>
                <td>2020-01-04</td>
                <td>23456789012345678901</td>
                <td>No</td>
                <td><input type="button" class="btn btn-info" value="Edit" onClick="location.href='editOrder'"></td>
                <td><button class="btn btn-info">Delete</button></td>
            </tr>
        </tbody>
    </table>
</section>

<br>

<h1>Add an order:</h1>
<section>
    <form>
        <div class="form-group">
            <label>Enter customerID:
                <input type="number" class="form-control" name="customerID" size="40" min="0">
            </label>
            <label>Enter orderDate:
                <input type="date" class="form-control" type="date" name="orderDate" size="60" min="2020-01-01"
                    max="2020-12-31">
            </label>
            <label>Enter galacticPay:
                <input class="form-control" type="text" inputmode="numeric" pattern="[0-9]*" name="galaticPay"
                    maxlength="20" minlength="20">
            </label>
        </div>
        Please click on the correct value for orderBeamed:
        <div class="custom-control custom-radio">
            <label>Yes
                <input type="radio" class="custom-control-input" name="orderBeamed_true" value="1" />
            </label>
        </div>
        <div class="custom-control custom-radio">
            <label>No
                <input type="radio" class="custom-control-input" name="orderedBeamed_false" value="0" />
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Order">
    </form>
</section>

<!-- <script src="./.js"></script> -->