<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 5 Draft -->
<!-- Date: May 25, 2020 -->
<!-- Course: CS 340 -->

<!-- Title -->
<title>Ye Olde Robot Shoppe OrderItem</title>

<!-- Mock SQL query and CRUD functions for the orders Entity-->
<h1>Current Order Numbers and Items:</h1>
<section>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>orderID</th>
                <th>itemID</th>
                <th>quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>001</td>
                <td>2</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>002</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>003</td>
                <td>4</td>
            </tr>
            <tr>
                <td>1003</td>
                <td>001</td>
                <td>1</td>
            </tr>
            <tr>
                <td>1003</td>
                <td>004</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</section>

<br>

<h1>Add an item to an order:</h1>
<section>
    <form>
        <div class="form-group">
            <label>Enter orderID:
                <input class="form-control" type="number" name="OrderID" size="40" min="1">
            </label>
            <label>Enter itemID:
                <input class="form-control" type="number" name="itemID" size="40" min="1">
            </label>
            <label>Enter quantity:
                <input class="form-control" type="number" name="quantity" size="40" min="1">
            </label>
        </div>
    </form>
    <input type="submit" class="btn btn-primary" value="Add Item to Order">
</section>