<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 6 Draft -->
<!-- Date: May 31, 2020 -->
<!-- Course: CS 340 -->

<!-- Title -->
<title>To Be Removed</title>


<h1>This page is to be removed.  OrderItem was integrated into the Orders page.</h1>
