<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 5 Draft -->
<!-- Date: May 25, 2020 -->
<!-- Course: CS 340 -->

<!-- Title -->
<title>Ye Olde Robot Shoppe Suppliers</title>

<!-- Mock SQL query and CRUD functions for the orders Entity-->
<h1>Current Suppliers:</h1>
<section class="Table">
    <table>
        <thread>
            <tr>
                <th>supplierID</th>
                <th>supplierName</th>
                <th>supplierPlanet</th>
            </tr>
        </thread>
        <tbody class="table_body">
            <tr>
                <td>1</td>
                <td>Robot Renovators</td>
                <td>Coruscant</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Robotronics</td>
                <td>Coruscant</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Gear Suppliers, Inc.</td>
                <td>Death Star</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Not The Droid You're Looking For</td>
                <td>Tattooine</td>
            </tr>
            <tr>
                <td>5</td>
                <td>C-3PO</td>
                <td>Tattooine</td>
            </tr>
        </tbody>
    </table>
</section>

<br />
<h1>Add a new supplier:</h1>
<section>
    <form>
        <p class="form">
            <label for="supplierName">
                Enter Supplier Name:
            </label>
            <input id="supplierName" type="text" name="supplierName" size="40" maxlength="255" />
        </p>
        <br />
        <p class="form">
            <label for="supplierPlanet">
                Enter Supplier Planet:
            </label>
            <input id="supplierPlanet" type="text" name="supplierPlanet" size="40" maxlength="255" />
        </p>
        <br />
        <input type="submit" id="submit" value="Add Supplier" />
        </fieldset>
    </form>
</section>

<!-- <script src="./.js"></script> -->