<!-- Authors: Janet Anderson and Thomas Fattah -->
<!-- Step: 5 Draft -->
<!-- Date: May 25, 2020 -->
<!-- Course: CS 340 -->

<!-- Title -->
<title>Ye Olde Robot Shoppe Suppliers</title>

<!-- Mock SQL query and CRUD functions for the orders Entity-->
<h1>Current Suppliers:</h1>
<section>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>supplierID</th>
                <th>supplierName</th>
                <th>supplierPlanet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Robot Renovators</td>
                <td>Coruscant</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Robotronics</td>
                <td>Coruscant</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Gear Suppliers, Inc.</td>
                <td>Death Star</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Not The Droid You're Looking For</td>
                <td>Tattooine</td>
            </tr>
            <tr>
                <td>5</td>
                <td>C-3PO</td>
                <td>Tattooine</td>
            </tr>
        </tbody>
    </table>
</section>

<h1>Add a new supplier:</h1>
<section>
    <form>
        <div class="form-group">
            <label>Enter Supplier Name:
                <input class="form-control" type="text" name="supplierName" size="40" maxlength="255" />
            </label>
            <label>Enter Supplier Planet:
                <input class="form-control" type="text" name="supplierPlanet" size="40" maxlength="255" />
            </label>
            <input type="submit" class="btn btn-primary" value="Add Supplier" />
        </div>
    </form>
</section>